<% include header.ejs %>
<% include navbar.ejs %>
<% include sidebar.ejs %>
<h3></h3>

<form action="/salvar_material" method="post">
    <div class="row">
        <div class="col m3 "></div>
        <div class="col s12 m6 ">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Material</span>
                    
                    <div>
                        <input type="hidden" name="id" value= "<%= material[0].id || null%>" <%= material[0].id ? '' : 'disabled' %>>
                    </div>
                    
                    <div class="input-field">
                        <input name='tipo_material'  id="tipo_material" type="number" class="validate" value= "<%= material[0].tipo_material || null%>"">
                        <label  class="active" for="tipo_material">Material</label>
                    </div>

                    
                    <div class="input-field">
                        <select id= "cod_material" name= "cod_material" >
                            <% for(var i=0; i< valores.length; i++){ %>
                                <option value= <%= valores[i].id %> > <%=  valores[i].id%></option>
                            <% } %>
                        </select>
                        <label>Armamentos</label>
                    </div>
                
                
                    <div class="input-field">
                        <select id="idreserva" name= "idreserva" >
                            <% for(var i=0; i< reservas.length; i++){ %>
                                <option value= <%= reservas[i].idreserva %> > <%=  reservas[i].sigla%></option>
                            <% } %>
                        </select>
                        <label>Reserva</label>
                    </div>
                    
                    <div class="input-field">
                        <input name='quantidade'  id="quantidade" type="number" class="validate" value= "<%= material[0].quantidade || null%>"">
                        <label  class="active" for="quantidade">Quantidade</label>
                    </div>
                    
                    <div class="input-field">
                      <input name='qtd_total'  id="qtd_total" type="number" class="validate" value= "<%= material[0].qtd_total || null%>"">
                      <label  class="active" for="qtd_total">Quantidade total</label>
                    </div> 
                    
                </div>

                <div class="card-action">
                    <div>
                        <button class="btn waves-effect waves-light blue darken-1 ">Salvar</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col m3 "></div>
    </div>
</form>

<% include footer.ejs %>
